body,
.wrapper {
  background-color: #fff !important;
}
.promo-grid {
  display: grid;
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(190px, 1fr);
  gap: 10px;
  & > figure {
    margin: 0;
    padding: 0;
    background-color: #86e6f2;
    grid-column: span 1;
    grid-row: span 1;
    background-position: center center;
    background-size: cover;
  }
  .fig-4,
  .fig-5,
  .fig-8 {
    grid-row: span 2;
  }
}

.for-tablet-portrait-up {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 238px);
  .fig-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .fig-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  .fig-5 {
    grid-row: 3 / 5;
  }
  .fig-8 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }
}

.for-tablet-landscape-up {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 190px);
  .fig-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .fig-4 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
  .fig-5 {
    grid-row: 3 / 5;
  }
  .fig-8 {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
  }
  .fig-10 {
    grid-column: 2 / 4;
    grid-row: 4 / 6;
  }
}
